:root {
    --grid-rows: 1;
    --grid-cols: 1;
}

#gridContainer {
    display: grid; 
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);  
    height: 95vh;
    width: 98vw;
    
}

.banner {
    display:flex;
    justify-content: center;
}

#gridButton {
height: 25px;
width: 25px;
}

.grid-item {  
    padding: 1em; 
    /* border: 1px solid #ddd; */
    /* text-align: center;  */
    height: calc(110vh/(var(--grid-rows)));
    width: calc(95vw/(var(--grid-cos)));
}

